/* login.css */


body {
    font-family: Krungthep, sans-serif;
    background-color: whitesmoke;
    background-image: linear-gradient(275deg, cyan, lightcyan);
    /*background-repeat: no-repeat;*/
    background-size: cover;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    background-color: yellow;
    color: black;
}

.btn-primary {
    background-color: yellow;
    color: black;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.error-message {
    color: red;
}

.navbar {
    /*background-color: yellow;*/
    color: black;
    padding: 10px 5px;
}